*background:     #000000
*foreground:     #D0C798
*highlightColor: #28261B
*cursorColor:    #D3A651

*color0:         #000000
*color1:         #FF8A8F
*color2:         #74BE70
*color3:         #D3A651
*color4:         #3BB5FF
*color5:         #D696E7
*color6:         #00C3CA
*color7:         #D0C798
*color8:         #28261B
*color9:         #B45684
*color10:        #717C29
*color11:        #AF623C
*color12:        #0086B0
*color13:        #6371BE
*color14:        #008868
*color15:        #9A925C