*background:     #000000
*foreground:     #D0C798
*highlightColor: #28261B
*cursorColor:    #D1A243

*color0:         #000000
*color1:         #FF8288
*color2:         #69BB66
*color3:         #D1A243
*color4:         #00B2FF
*color5:         #D68FE9
*color6:         #00C2C9
*color7:         #D0C798
*color8:         #28261B
*color9:         #AA577E
*color10:        #6F7830
*color11:        #A5613F
*color12:        #0080A5
*color13:        #636EB2
*color14:        #008265
*color15:        #9A925C