*background:     #000000
*foreground:     #D0C798
*highlightColor: #28261B
*cursorColor:    #D3A350

*color0:         #000000
*color1:         #FF898E
*color2:         #73BC6F
*color3:         #D3A350
*color4:         #2EAFFF
*color5:         #D493E6
*color6:         #00C2C9
*color7:         #D0C798
*color8:         #28261B
*color9:         #B05B84
*color10:        #747C34
*color11:        #AC6544
*color12:        #0085AA
*color13:        #6772B7
*color14:        #00876A
*color15:        #9A925C