*background:     #000000
*foreground:     #DED5A6
*highlightColor: #333126
*cursorColor:    #AF7A00

*color0:         #000000
*color1:         #ED435E
*color2:         #1D982E
*color3:         #AF7A00
*color4:         #0091FC
*color5:         #B75FD2
*color6:         #009FAC
*color7:         #DED5A6
*color8:         #333126
*color9:         #AE0031
*color10:        #006300
*color11:        #764900
*color12:        #005FC2
*color13:        #7F299B
*color14:        #006977
*color15:        #A69F72