set $accent #AF7A00
set $fg     #DED5A6
set $bg     #000000
set $fgalt  #A69F72
set $bgalt  #333126

# class                 border  background text indicator child_border
client.focused          $accent $accent    $bg  $bg       $accent
client.focused_inactive $fgalt  $fgalt     $fg  $fg       $fgalt
client.unfocused        $bg     $bg        $fg  $fg       $bg
client.urgent           $fg     $fg        $bg  $bg       $fg
client.placeholder      $bgalt  $bgalt     $fg  $fg       $bgalt
client.background               $bg

bar {
    colors{
        background $bg
        statusline $fg
        separator $accent
        inactive_workspace $bg $bg $fg
        focused_workspace $accent $accent $bg
        urgent_workspace $accent $bg $fg
        }
}
