set_from_resource $cursor i3wm.cursorColor #AF7A00
set_from_resource $fg i3wm.foreground #DED5A6
set_from_resource $bg i3wm.background #000000
set_from_resource $hl i3wm.highlightColor #333126

# class                 border  background text indicator child_border
client.focused          $cursor $cursor    $bg  $bg       $cursor
client.focused_inactive $hl     $hl        $fg  $fg       $hl
client.unfocused        $bg     $bg        $fg  $fg       $bg
client.urgent           $fg     $fg        $bg  $bg       $fg
client.placeholder      $hl     $hl        $fg  $fg       $hl
client.background               $bg

bar {
    colors{
        background $bg
        statusline $fg
        separator $cursor
        inactive_workspace $bg $bg $fg
        focused_workspace $cursor $cursor $bg
        urgent_workspace $cursor $bg $fg
        }
}
